In [ ]:
# LEVEL 1 — VERY EASY (focus: thinking in “one element at a time”)

    # A. List Comprehension:                                      [expression for item in iterable if condition]

        # Create a list of numbers from 1 to 10.

        # Create a list of squares of numbers from 1 to 10.

        # Create a list of numbers from 1 to 20 that are divisible by 5.

In [ ]:
 # Create a list of numbers from 1 to 10.
List_of_natural_numbers=[x for x in range(1,11)]    #return all values of x in form of list
print(List_of_natural_numbers)

# New_list=[]
# for x in range(1,11):
#     New_list.append(x)
# New_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Create a list of squares of numbers from 1 to 10.
List_of_squares=[x**2 for x in range(1,11)]         #return all squares in list
print(List_of_squares)

# New_list=[]
# for x in range(1,11):
#     New_list.append(x**2)
# New_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Create a list of numbers from 1 to 20 that are divisible by 5.
List_of_numbers_divisible_by_5=[x for x in range(1,21) if x%5==0]
print(List_of_numbers_divisible_by_5)

[5, 10, 15, 20]

In [ ]:
# LEVEL 1 — VERY EASY (focus: thinking in “one element at a time”)
    # B.Lambda (no map/filter yet)                                      lambda arguments: expression

        # Write a lambda that adds 10 to a number.

        # Write a lambda that returns the square of a number.

        # Write a lambda that checks whether a number is even.

# Lambda functions in Python can include if-else logic for concise conditional expressions. 
# However, they are limited to a single expression and cannot include statements like elif directly.

In [ ]:
# Write a lambda that adds 10 to a number.

add_10=lambda x: x+10   #lambda arguments: expression, here x is the parameter/argument x+10 is the expression, here add_10 is equivalent to def add_10
add_10(5)               #call the function normally pass the parameter                                       


#def add_10(num):
#     return num+10
# add_10(5)

15

In [21]:
# Write a lambda that returns the square of a number
sq_of_num=lambda x: x**2
sq_of_num(2)

4

In [ ]:
# Write a lambda that checks whether a number is even.              

is_even= lambda x: True if x%2==0 else False
is_even(5)

False

In [ ]:
# LEVEL 2 — EASY (introducing map)

# map(function, iterable, [iterable2, iterable3, ...])

    # C. map() only

        # Given [1, 2, 3, 4], use map to get [2, 4, 6, 8].

        # Convert a list of numbers [1, 4, 9, 16] into their square roots.

        # Given a list of names, convert all names to uppercase.

# The map() function in Python applies a given function to each element of one or more iterables and returns a map object (an iterator).

In [ ]:
# Given [1, 2, 3, 4], use map to get [2, 4, 6, 8].          # map(function, iterable, [iterable2, iterable3, ...])

List=[1, 2, 3, 4]
Final_list=list(map(lambda x: x+x,List))
print(Final_list)


# def add_itself(List):
#     List1=[]
#     for i in List:
#         List1.append(i+i)
#     return List1
# add_itself([1, 2, 3, 4])

[2, 4, 6, 8]

In [36]:
# Given a list of names, convert all names to uppercase.

List=["hello","world"]
print(list(map(lambda x:x.upper(),List)))

# def upper_case_list(List):
#     Final_list=[]
#     for i in List:
#         Final_list.append(i.upper())    
#     return Final_list
# upper_case_list(["hello","fool"])

['HELLO', 'WORLD']

In [40]:
# Convert a list of numbers [1, 4, 9, 16] into their square roots.
def sq_roots(num):
    s=num/2
    for i in range(9):
        s=(s+num/s)/2
    return s
List=[1, 4, 9, 16]
print(list(map(lambda x:int(sq_roots(x)),List)))

[1, 2, 3, 4]

In [ ]:
# D. List comprehension vs map
# Rewrite Above questions using a list comprehension.

# Given [1, 2, 3, 4], use map to get [2, 4, 6, 8].

# Convert a list of numbers [1, 4, 9, 16] into their square roots.

# Given a list of names, convert all names to upper

In [ ]:
List=[1,2,3,4]
print([x+x for x in List])      #MAP VERSION              Final_list=list(map(lambda x: x+x,List))

List=[1, 4, 9, 16]
print([int(sq_roots(x)) for x in List])         #MAP VERSION            print(list(map(lambda x:int(sq_roots(x)),List)))

List=["john","david"]
print([item.upper() for item in List ])     #MAP VERSION                print(list(map(lambda x:x.upper(),List)))

[2, 4, 6, 8]
[1, 2, 3, 4]
['JOHN', 'DAVID']

In [ ]:
# LEVEL 3 — EASY–MEDIUM (introducing filter)
# E. filter() only                                                              filter(function, iterable)


# From [1, 2, 3, 4, 5, 6], keep only even numbers.

# From [10, 15, 20, 25, 30], keep numbers greater than 20.

# From a list of strings, keep only words longer than 4 characters.

# function: A callable (like a named function or a lambda function) that accepts one argument and returns a boolean value (True or False). If None is passed, the filter removes all "falsy" values (e.g., 0, "", False, None).
# iterable: Any sequence to be filtered, such as a list, tuple, set, or string.

In [ ]:
# filter(function, iterable)

# From [1, 2, 3, 4, 5, 6], keep only even numbers.

List=[1, 2, 3, 4, 5, 6]
list(filter(lambda x:x%2==0, List))
# list(filter(lambda x:True if x%2==0 else False, List))

[2, 4, 6]

In [49]:
# From [10, 15, 20, 25, 30], keep numbers greater than 20.

List=[10, 15, 20, 25, 30]
list(filter(lambda x: x>20,List))

[25, 30]

In [55]:
# From a list of strings, keep only words longer than 4 characters

List=["hello","land","robot","cat","pneumonoultramicroscopicsilicovolcanoconiosis","dog"]
list(filter(lambda x:len(x)>4,List))

['hello', 'robot', 'pneumonoultramicroscopicsilicovolcanoconiosis']

In [ ]:
# Rewrite above questions using list comprehension

# From [1, 2, 3, 4, 5, 6], keep only even numbers.
List=[1, 2, 3, 4, 5, 6]
print([x for x in List if x%2==0])

# From a list of strings, keep only words longer than 4 characters.
List=["hello","land","robot","cat","pneumonoultramicroscopicsilicovolcanoconiosis","dog"]
print([x for x in List if len(x)>4])

[2, 4, 6]
['hello', 'robot', 'pneumonoultramicroscopicsilicovolcanoconiosis']

In [ ]:
# LEVEL 4 — MEDIUM (introducing reduce)
# G. reduce() basics                                reduce(function, iterable, [initializer])


# (Use from functools import reduce)

# Find the sum of [1, 2, 3, 4] using reduce.

# Find the product of [1, 2, 3, 4] using reduce.

# Find the maximum number in [3, 7, 2, 9] using reduce.

# function: A function that takes exactly two arguments and returns a single value. This function is applied cumulatively to the elements of the iterable.
# iterable: A sequence (list, tuple, etc.) whose elements are to be reduced.
# initializer (optional): An initial value that is placed before the first item of the iterable in the calculation. 
# If the iterable is empty and no initializer is provided, a TypeError is raised.

In [71]:
# Find the sum of [1, 2, 3, 4] using reduce.
from functools import reduce
List=[1, 2, 3, 4]
reduce(lambda x,y: x+y ,List)

reduce(lambda x,y:x*y,List)

# c=0
# for i in List:
#     c+=i
# print(c)

24

In [ ]:
# Find the maximum number in [3, 7, 2, 9] using reduce.
List=[3, 7, 2, 9]
reduce(lambda x,y: x if x>y else y,List)            # equivalent to max()

9

In [ ]:
# LEVEL 5 — MEDIUM (combining map + filter)
# H. Map + Filter

# From [1, 2, 3, 4, 5, 6], keep even numbers and then square them.

# From a list of numbers, keep numbers divisible by 3 and multiply them by 10.

# From a list of names, keep names starting with "A" and convert them to lowercase.

In [ ]:
# From [1, 2, 3, 4, 5, 6], keep even numbers and then square them.  Map + Filter
List=[1, 2, 3, 4, 5, 6]
list(map(lambda x: x**2,filter(lambda x: x%2==0,List)))         #first filter the list into even numbers only list then use map function to sq the numbers
#filter return based on True

[4, 16, 36]

In [89]:
# From a list of numbers, keep numbers divisible by 3 and multiply them by 10.
List=[1,2,3,4,5,6,7,8,9,12,24]
list(map(lambda x : x*10,filter(lambda x:x%3==0,List)))

[30, 60, 90, 120, 240]

In [ ]:
# From a list of names, keep names starting with "A" and convert them to lowercase.
List=["Arnold","AJ","David","John","Castiel"]
list(map(lambda x:x.lower(),filter(lambda x:x[0]=="A",List)))

['arnold', 'aj']

In [ ]:
# LEVEL 6 — MEDIUM (list comprehension with condition)
# I. Single list comprehension

# Using one list comprehension, get squares of even numbers from 1 to 10.

# Using one list comprehension, get lengths of words longer than 3 characters.

# Using one list comprehension, get numbers divisible by both 2 and 3.

In [ ]:
# Using one list comprehension, get squares of even numbers from 1 to 10.
[x**2 for x in range(1,11) if x%2==0]

[4, 16, 36, 64, 100]

In [96]:
# Using one list comprehension, get lengths of words longer than 3 characters.
List=["Arnold","AJ","David","John","Castiel","Hal"]
[x for x in List if len(x)>3]

['Arnold', 'David', 'John', 'Castiel']

In [99]:
# Using one list comprehension, get numbers divisible by both 2 and 3.
List=[1, 2, 3, 4, 5, 6]
[x for x in List if x%2==0 and x%3==0]

[6]

In [ ]:
# LEVEL 7 — MEDIUM (realistic data thinking)
# J. Tuples and logic

# Given [(1, 10), (2, 5), (3, 20)], extract only the second values.

# From the same list, keep tuples where the second value is greater than 10.

# Square only the second value of each tuple.

In [ ]:
# Given [(1, 10), (2, 5), (3, 20)], extract only the second values.
List=[(1, 10), (2, 5), (3, 20)]
[x[1] for x in List ]
#using map and lambda
list(map(lambda x:x[1],List))

[10, 5, 20]

In [ ]:
# From the same list, keep tuples where the second value is greater than 10.
List=[(1, 10), (2, 5), (3, 20)]
[x for x in List if x[1]>10]
#using filter and lambda
list(filter(lambda x: x[1]>10,List))

[(3, 20)]

In [113]:
# Square only the second value of each tuple.
List=[(1, 10), (2, 5), (3, 20)]
[x[1]**2 for x in List]
#using map and lambda           #map for extracting 
list(map(lambda x:x[1]**2,List))

[100, 25, 400]

In [ ]:
# LEVEL 8 — MEDIUM (filter → map → reduce pipeline)
# K. Full pipeline (no tricks)

    # From [5, 10, 15, 20]:

        # keep values ≥ 10

        # double them

        # find the total

    # From a list of salaries:

        # remove salaries below 30,000

        # add 10% increment

        # calculate total payroll

In [ ]:
  # From [5, 10, 15, 20]:

        # keep values ≥ 10

        # double them

        # find the total

List=[5, 10, 15, 20]
sum([x*x for x in List if x>=10])

# using filter → map → reduce pipeline

List=[5, 10, 15, 20]
reduce(lambda x,y:x+y,map(lambda x:x*x,filter(lambda x:x>=10,List)))  
# Note if you try to list() it will throw error Python gets confused 
# because you can't turn a single number into a list—you can 
# only turn collections (like sets or tuples) into lists.

#in short
# The filter (The Gatekeeper)
# The map (The Transformer)
# The reduce (The Crusher)

725

In [135]:
   # From a list of salaries:

        # remove salaries below 30,000

        # add 10% increment

        # calculate total payroll

salary=[10000,30000,40000,50000,20000,5000]
sum([x+(x*0.1) for x in salary if x<30000])

list(filter(lambda x:x<30000,salary))
reduce(lambda x,y:x+y,map(lambda x:x*1.1,filter(lambda x:x<30000,salary)))

38500.0

In [ ]:
# Mental checklist while solving

# Am I transforming? → map / comprehension

# Am I selecting? → filter / condition

# Am I combining? → reduce

In [ ]:
# iterable (required): The sequence or collection you want to sort.

# key (optional): A function to be called on each element to customize the sort order (e.g., key=len to sort by length, or a lambda function).

# reverse (optional): A Boolean value. If True, the list is sorted in descending order. The default is False (ascending order)

#  sorted(iterable, key=None, reverse=False)

In [ ]:
# Sort on basis of second item of tuple                     sorted(iterable, key=None, reverse=False)

List=[(1, 10), (2, 5), (3, 20)]
sorted(List,key=lambda x: x[1])
sorted(List,key=lambda x: x[1],reverse=True)

[(3, 20), (1, 10), (2, 5)]

In [ ]:
# Sort the list by price in ascending order                  sorted(iterable, key=None, reverse=False)
# Sort the list by price in descending order
products = [("Pen", 10), ("Notebook", 50), ("Pencil", 5), ("Eraser", 7)]
print(sorted(products,key=lambda x:x[1]))
print(sorted(products,key=lambda x:x[1],reverse=True))

[(3, 20), (1, 10), (2, 5)]

In [ ]:
# Sort students by marks (highest to lowest)
# Sort students by name (alphabetical order)
students = [("Amit", 78), ("Riya", 92), ("John", 65), ("Neha", 85)]
print(sorted(students,key=lambda x:x[1],reverse=True))
print(sorted(students,key=lambda x:x[0]))

[('Riya', 92), ('Neha', 85), ('Amit', 78), ('John', 65)]
[('Amit', 78), ('John', 65), ('Neha', 85), ('Riya', 92)]